<!DOCTYPE html>
<html lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <head>
        <meta charset="UTF-8">
        <title>Rearrangement Page</title>
    </head>
    <body style="margin:20px;padding:0">
        <div ng-app="myApp" ng-controller="dataCtrl"/>

        <p>
            Normally, we use Angular <i>ng-repeat</i> and bootstrap <i>col-xs-4</i> to add 3 elements each column, row by row.<br>
            This can be annoying because people usually read a table column by column.<br>
            The goal of this project is reorder alphabetically data by column instead of by row.<br>
            <ul>
                <li>Click the <b>Show</b> button to show the generated table with the default arrangement</li>
                <li>Click the <b>Rearrange</b> button to show the generated table after the rearrangement</li>
            </ul>
            Feel free to modify the data in the input textarea for your test<br>
            You can see the source code by <a href="https://gitlab.com/ngocthach_nt_a39/rearrangement">Visit GitLab project</a>
        </p>

        <tr>
            <textarea ng-model="input" ng-init="input ='AAB,ABC,EDF,CDG,TRZ,DEF,DEC'" cols="40" rows="5"></textarea>
        </tr>
        <br>
        <button ng-click="show()">Show</button>
        <button ng-click="rearrange()">Rearrange</button>


        <div class="row">
            <div class="col-xs-4" ng-repeat="item in items">
                <h2>{{ item }}</h2>
            </div>
        </div>

        </div>
        <script src="js/script.js"></script>
    </body>
</html>

